.banner {
  position: relative;
}

.banner-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 124, 82, 0.1);
  border-radius: 5px;
}

.banner-img {
  width: 100%;
  border-radius: 5px;
}
